.DS_Store
.idea/
books_topic_model/
_build/
notebooks/
setup
conf.py
index.rst
.coverage
*.pyc
setup_mac.sh

# input and output data
*input_data
input_topicmodel
*output_*

# driver logs
*geckodriver*

# log files
logs/